body {
  background-color: #2E132C;
  color: whitesmoke;
  /* width: 100%; */
}

@font-face {
  font-family: Silkscreen;
  src: url(../fonts/slkscrb.ttf);
}

.title {
  font-family: "Silkscreen", sans-serif;
  color: whitesmoke;
}

.text {
  font-family: "Fira Code", monospace;
  color: whitesmoke;
}

.GoogleLogin {
  display: flex;
  /* align-self: center; */
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 1300px;
  /* margin: 10vh 0 0 30vh; */
  padding: 0;
  margin-top: 9vh;
  margin-left: 9vh;
}

.GoogleLogin div:last-child {
  margin-left: 120px;
  padding-left: 130px;
  margin-right: 0;
  margin-top: 15vh;
  width: 500px;
  box-sizing: border-box;
    /* width:min-content; */
}
.signIn {
  width: 220px;
  height: 35px;
  margin-top: 2vh;
}
.signIn:hover {
  cursor: pointer;
  width: 230px;
}

.loginBottom1 {
  color: #60265b;
  margin-top: 25vh;
}
.loginBottom2 {
  color: #f50d5a;
}
