.SubmitTweet {
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: space-between;
  background-color: #150714;
}

.Timeline {
  border-bottom: 2px groove #60265b;
  box-sizing: border-box;
  width: 105%;
  height: 120px;
  margin: -5px 0px -5px -30px;
  background-color: #150714;
}

.profilePicSub {
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-top: 10px;
}

.SubmitForm {
  display: flex;
  width: 88%;
  flex-direction: column;
  margin-top: 10px;
}

.SubmitTextarea {
  background-color: #2f112d;
  color: #914d8b;
  font-family: "Fira Code", monospace;
  border: none;
  height: 60px;
  padding: 0 0 32px 8px;
  box-sizing: border-box;
}

.SubmitTextarea::placeholder {
  color: #914d8b;
  position: absolute;
  left: 10px;
  top: 5px;
}

.SubmitTextarea::-ms-input-placeholder {
  color: #914d8b;
}

.progress {
  display: flex;
  flex-direction: column;
  margin: 0px 0 -7px 0;
}

progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
progress::-webkit-progress-bar {
  background-color: #2f112d;
}
progress::-webkit-progress-value {
  background-color: #00da76;
}
progress::-moz-progress-bar {
  background-color: #2f112d;
}

.tweetLenght {
  display: flex;
  flex-direction: row;
  margin: 0px 0 1px 0;
  font-family: "Fira Code", monospace;
  font-size: 10px;
}

.lenghtCount {
  color: whitesmoke;
  margin: 1px 0 0 0;
}

.maxLenght {
  color: #f50d5a;
  margin: 1px 2px 0px auto;
}

.postOff {
  width: 70px;
  height: 26px;
  cursor: pointer;
  border: none;
  background: url("../images/postOff.svg") no-repeat;
  margin: 7px 0 0 457px;
}

.postOff:hover {
  background: url("../images/postOn.svg") no-repeat;
}
