.SubmitTweet {
  display: flex;
  flex-direction: row;
  /* width: 600px; */
  width: 600px;
  /* align-items: center; */
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #150714;

}

.Timeline {
  border-bottom: 2px groove #60265B;
  box-sizing: border-box;
  width: 105%;
  height: 120px;
  margin: -5px 0px -5px -30px;
  background-color: #150714;
}

.profilePicSub {
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-top: 10px;
}

.SubmitForm {
  display: flex;
  width: 88%;
  flex-direction: column;
  margin-top: 10px;
}

.SubmitTextarea {
  background-color: #2f112d;
  color: #914d8b;
  font-family: "Fira Code", monospace;
  border: none;
  height: 60px;
  padding: 0 0 32px 8px;
  box-sizing: border-box;
}

.SubmitTextarea::placeholder {
  color: #914d8b;
  position: absolute;
  left: 10px;
  top: 5px;
}

.SubmitTextarea::-ms-input-placeholder {
  color: #914d8b;
}

.postOff {
  width: 70px;
  height: 26px;
  cursor: pointer;
  border: none;
  background: url("../images/postOff.svg") no-repeat;
  margin: 7px 0 0 457px;
}

.postOff:hover {
  background: url("../images/postOn.svg") no-repeat;
}
