.TimelineHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 700px;
  margin: 0 auto;
}

.logout {
  width: 120px;
  height: 20px;
}
.logout:hover {
  cursor: pointer;
}

.logoHeader {
  width: 120px;
  height: 20px;
}

.profilePic {
  border: 2.5px solid rgb(255, 187, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
